= page_header "Uczniowe z najwyższymi średnimi"

%h2 Klasy pierwsze
= render "top_students", :students => @first_grade_students
%h2 Klasy drugie
= render "top_students", :students => @second_grade_students
%h2 Klasy trzecie
= render "top_students", :students => @third_grade_students
%h2 Klasy czwarte
= render "top_students", :students => @fourth_grade_students
