.row
  = simple_form_for [:teacher, student], :html => {:class => "well form-horizontal span5"} do |f|
    = f.input :first_name, :label => "Imię"
    = f.input :last_name, :label => "Nawisko"
    = f.input :individual, :label => "Zajęcia indywidualne"
    = f.input :boarding_school, :label => "Zamieszkuje w internacie"
    .form-actions
      = f.button :submit, "Zapisz", :class => "btn btn-primary"
      = link_to "Anuluj", teacher_students_path, :class => "btn btn-inverse"
