<%= info_box "Lista uczniów", "Możesz również otworzyć listę uczniów w formacie #{link_to "PDF", "/teacher/students.pdf"}, co pozwoli ci na wydrukowanie kartki z danymi do logowania dla rodziców.", link_to(image_tag("filetype_pdf.png") + "Pokaż listę w PDF", "/teacher/students.pdf") %>

<% unless @students.empty? %>
  <table class="table table-striped table-bordered">

    <tr>
      <th>#</th>
      <th>Imię</th>
      <th>Nazwisko</th>
      <th>Login</th>
      <th>NIU</th>
      <th style="width:200px;"></th>
    </tr>

    <% @students.each_with_index do |student, i| %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= student.first_name %></td>
        <td><%= student.last_name %></td>
        <td><%= student.username %></td>
        <td><%= student.niu %></td>
        <td>
          <%= link_to 'Więcej', teacher_student_path(student) %>
          <%= link_to 'Edytuj', edit_teacher_student_path(student) %>
          <%= link_to "Zmień hasło", new_password_teacher_student_path(student.id) %>
          <%= link_to 'Usuń', teacher_student_path(student), :method => :delete, :confirm => "Jesteś pewien?", :class => "danger" %>
        </td>
      </tr>
    <% end %>

  </table>
<% else %>
  <%= alert_box "Nie masz uczniów w klasie!", "Możesz dodać ucznia poprzez poniższy formularz." %>
<% end %>

<%= page_header "Dodaj nowego ucznia" %>

<%= render 'form', :student => @student %>
