= page_header "Uczniowie"
- unless @students.empty?
  = info_box "Lista uczniów",                                                                        |
    "Możesz również otworzyć listę uczniów w formacie #{link_to "PDF", "/teacher/students.pdf"}, " + |
    "co pozwoli ci na wydrukowanie kartki z danymi do logowania dla rodziców.",                      |
    link_to(image_tag("filetype_pdf.png") + "Pokaż listę w PDF", "/teacher/students.pdf")            |
  %table.table.table-bordered
    %tr
      %th{style:"width:3%"} #
      %th Imię
      %th Nazwisko
      %th Login
      %th{style:"width:227px;"}
    - @students.each_with_index do |student, i|
      %tr
        %td= i+1
        %td= student.first_name
        %td= student.last_name
        %td= student.username
        %td
          = link_to 'Więcej', teacher_student_path(student), class:"btn btn-mini"
          = link_to 'Edytuj', edit_teacher_student_path(student), class:"btn btn-mini"
          = link_to "Zmień hasło", new_password_teacher_student_path(student.id), class:"btn btn-mini"
          = link_to delete_link_content, teacher_student_path(student), method:"delete", confirm:"Jesteś pewien?", class:"btn btn-mini btn-danger danger"
- else
  = info_box "Klasa nie ma uczniów.", "Możesz dodać ucznia poprzez poniższy formularz."
= second_page_header "Dodaj nowego ucznia"
= render 'form', :student => @student
