<div class="page-header">
  <h1>Uczniowie</h1>
</div>

<% unless @students.empty? %>
  <table class="table table-striped table-bordered table-condensed">

    <tr>
      <th>#</th>
      <th>Imię</th>
      <th>Nazwisko</th>
      <th>Login</th>
      <th>NIU</th>
      <th>Zarządzaj</th>
    </tr>

    <% @students.each_with_index do |student, i| %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= student.first_name %></td>
        <td><%= student.last_name %></td>
        <td><%= student.username %></td>
        <td><%= student.niu %></td>
        <td>
          <%= link_to('Więcej', teacher_student_path(student)) %>
          <%= link_to('Edytuj', edit_teacher_student_path(student)) %>
          <%= link_to('Usuń', teacher_student_path(student), :method => :delete, :confirm => "Jesteś pewien?") %>
        </td>
      </tr>
    <% end %>

  </table>
<% else %>
  Nie masz żadnych uczniów. Możesz dodać ucznia poprzez poniższy formularz.
<% end %>

<%= render 'form', :student => @student %>
