= page_header "Zmień hasło rodzica ucznia #{@student.first_name} #{@student.last_name}"
.row
  = simple_form_for @student, :url => password_teacher_student_path(@student.id), :method => :put, :html => {:class => "well form-horizontal span5"} do |f|
    = f.input :password, :label => "Hasło rodzica"
    = f.input :password_confirmation, :label => "Powtórz hasło rodzica"
    = f.input :current_password, :label => "Hasło", :hint => "potrzebujemy twoje aktualne hasło, aby potwierdzić zmiany"
    .form-actions
      = f.button :submit, "Zapisz", :class => "btn btn-primary"
      = link_to "Anuluj", teacher_students_path, :class => "btn btn-inverse"
