= button_to "Wróć", teacher_students_path, :class => "btn btn-inverse", :method => :get
= page_header "Informacje o uczniu"
%table.table.table-bordered
  %tr
    %td.span3 Login
    %td.span3= @student.username
  %tr
    %td Imię
    %td= @student.first_name
  %tr
    %td Nazwisko
    %td= @student.last_name
  %tr
    %td Email
    %td= @student.email
  %tr
    %td Zajęcia indywidualne
    %td= @student.individual ? "Tak" : "Nie"
  %tr
    %td Zamieszkuje w internacie
    %td= @student.boarding_school ? "Tak" : "Nie"
