<%= director_semesters_navigation(@school_class, @semesters) %>

<table class="table table-bordered">
  <tr>
    <th style="width: 15px;">#</th>
    <th>Imię</th>
    <th>Nazwisko</th>
    <th>%</th>
    <th>Obowiązkowe</th>
    <th>Usprawiedliwione</th>
    <th>Nieusprawiedliwione</th>
    <th>Spóźnienia</th>
  </tr>

  <% @students.each_with_index do |student, i| %>
    <tr>
      <td><%= i+1 %></td>
      <td><%= student.first_name %></td>
      <td><%= student.last_name %></td>
      <%= student_semester_absences(student, @semester_id) %>
    </tr>
  <% end %>

</table>
