= director_semesters_navigation(@school_class, @semesters)
%table.table.table-bordered
  %tr
    %th{:style => "width: 15px;"} #
    %th Imię
    %th Nazwisko
    %th %
    %th Obowiązkowe
    %th Usprawiedliwione
    %th Nieusprawiedliwione
    %th Spóźnienia
  - @students.each_with_index do |student, i|
    %tr
      %td= i+1
      %td= student.first_name
      %td= student.last_name
      = student_semester_absences(student, @semester_id)
