= page_header "Frekwencja klasy #{@school_class.name}", "#{I18n.t(@month.strftime("%B"))} #{@month.year}"

= render 'teacher/absences/absences', previous_month:@previous_month, next_month:@next_month, weeks:@weeks, students:@students, absences:@absences
