.btn-group
  %button.btn Wybierz miesiąc 
  %button.btn.dropdown-toggle{"data-toggle" => "dropdown"}
    %span.caret
  %ul.dropdown-menu
    - School::MONTHS.each do |month|
      = nav_link_to(month, director_school_class_absences_path(:date => date_by_month(month, current_director.school_year)))

= page_header "Frekwencja klasy #{@school_class.name}", "#{I18n.t(@month.strftime("%B"))} #{@month.year}"

= render 'teacher/absences/absences', previous_month:@previous_month, next_month:@next_month, weeks:@weeks, students:@students, absences:@absences
