.btn-group
  %button.btn Wybierz miesiąc 
  %button.btn.dropdown-toggle{"data-toggle" => "dropdown"}
    %span.caret
  %ul.dropdown-menu
    - School::MONTHS.each_with_index do |month, i|
      = nav_link_to(month, director_school_class_absences_path(month: i+1))

= page_header "Frekwencja klasy #{@school_class.name}", "#{School::MONTHS[@month.to_i - 1]}"

= render 'teacher/absences/absences', month: @month, previous_month: Absence.previous_month(@month),
  next_month: Absence.next_month(@month), students: @school_class.students
