%table.table.table-bordered.table-condensed
  %tr
    %th{rowspan:"2", style:"width:3%"} #
    %th{rowspan:"2"} Imię
    %th{rowspan:"2"} Nazwisko
    - weeks.each do |week|
      %th{:colspan => "4"}= week
    %th{rowspan:"2"} %
    %th{rowspan:"2"} ob
    %th{rowspan:"2"} us
    %th{rowspan:"2"} nu
    %th{rowspan:"2"} sp
  %tr
    - weeks.each do |week|
      %th ob
      %th us
      %th nu
      %th sp
  - school_class_required = school_class_justified = school_class_unexcused = school_class_late = 0
  - students.each_with_index do |student, i|
    - student_required = student_justified = student_unexcused = student_late = 0
    %tr
      %th= i+1
      %td= student.first_name
      %td= student.last_name
      - weeks.each do |week|
        - absence = student.absences.find_by_date(week)
        - if absence
          - student_required += absence.required if absence.required
          - student_justified += absence.justified if absence.justified
          - student_unexcused += absence.unexcused if absence.unexcused
          - student_late += absence.late if absence.late
        %td.absence{:id => "#{student.id}_#{week}_required"}= absence.try(:required)
        %td.absence{:id => "#{student.id}_#{week}_justified"}= absence.try(:justified)
        %td.absence{:id => "#{student.id}_#{week}_unexcused"}= absence.try(:unexcused)
        %td.absence{:id => "#{student.id}_#{week}_late"}= absence.try(:late)
      - school_class_required += student_required
      - school_class_justified += student_justified
      - school_class_unexcused += student_unexcused
      - school_class_late += student_late
      %td= absence_percentage(student_required, student_justified, student_unexcused)
      %td= student_required
      %td= student_justified
      %td= student_unexcused
      %td= student_late
  %tr
    %th{colspan:3+weeks.count*4} Razem
    %th= absence_percentage(school_class_required, school_class_justified, school_class_unexcused)
    %th= school_class_required
    %th= school_class_justified
    %th= school_class_unexcused
    %th= school_class_late

= months_navigation(previous_month, next_month, user_type)
