<table class="table table-striped table-bordered table-condensed">
  <tr>
    <th colspan="2" rowspan="1"></th>
    <% weeks.each do |week|  %>
      <th colspan='4'><%= week %></th>
    <% end %>
    <th>%</th>
    <th>us</th>
    <th>nu</th>
  </tr>

  <tr>
    <td style="width:100px;"><strong>Imię</strong></td>
    <td style="width:100px;"><strong>Nazwisko</strong></td>
    <% weeks.each do |week| %>
      <td><strong>ob</strong></td>
      <td><strong>us</strong></td>
      <td><strong>nu</strong></td>
      <td><strong>sp</strong></td>
    <% end %>
    <td></td>
    <td></td>
    <td></td>
  </tr>

  <% students.each_with_index do |student, i| %>
    <tr>
      <td><%= student.first_name %></td>
      <td><%= student.last_name %></td>
      <% weeks.each_with_index do |week, j| %>
        <td class='absence' id='<%= "#{student.id}_#{week}_required" %>'><%= absences[i][j].required if absences[i][j] %></td>
        <td class='absence' id='<%= "#{student.id}_#{week}_justified" %>'><%= absences[i][j].justified if absences[i][j] %></td>
        <td class='absence' id='<%= "#{student.id}_#{week}_unexcused" %>'><%= absences[i][j].unexcused if absences[i][j] %></td>
        <td class='absence absence_border' id='<%= "#{student.id}_#{week}_late" %>'><%= absences[i][j].late if absences[i][j] %></td>
      <% end %>
      <% required_month = student.sumarize_required_absences(absences[i]) %>
      <% justified_month = student.sumarize_justified_absences(absences[i]) %>
      <% unexcused_month = student.sumarize_unexcused_absences(absences[i]) %>
      <td><b><%= percentage_frequency(required_month, justified_month, unexcused_month) %></b></td>
      <td><b><%= justified_month %></b></td>
      <td><b><%= unexcused_month %></b></td>
    </tr>
  <% end %>
</table>

<%= months_navigation(previous_month, next_month, user_type) %>
