.btn-group
  %button.btn Wybierz miesiąc
  %button.btn.dropdown-toggle{"data-toggle" => "dropdown"}
    %span.caret
  %ul.dropdown-menu
    - School::MONTHS.each_with_index do |month, i|
      = nav_link_to(month, teacher_absences_path(month: i+1))

= page_header "Frekwencja", "#{School::MONTHS[@month.to_i - 1]}"

= info_box "Frekwencja", "Żeby dodać frekwencję należy kliknąć na odpowiednie miejsce w tabeli.", image_tag("teacher_absences_info_1.png")

= render 'absences', month: @month, previous_month: @previous_month, next_month: @next_month, students: current_teacher.students

:javascript
  $(function() {
    $.ajaxSetup({
      beforeSend: function(xhr) {
        xhr.setRequestHeader('X-CSRF-Token',$('meta[name="csrf-token"]').attr('content'));
      }
    });

    var parsed_id;

    var old_absence;

    $('.absence').live('click', function() {
      clone = $(this).clone();
      parsed_id = $(this).attr('id').split('_');
      old_absence = clone.text();
      clone.text('');
      clone.append('<input id="absence_active" type="text" value="">');
      $(this).replaceWith(clone);
      $('#' + clone.attr('id')).children().focus();
    });

    $('#absence_active').live('blur', function() {
      value = $(this).val();
      if (value == '') {
        $(this).replaceWith(old_absence);
      } else {
        data = 'absence[student_id]=' + parsed_id[0] +
        '&absence[month]=' + #{@month} + 
        '&absence[week]=' + parsed_id[1] +
        '&absence[' + parsed_id[2] + ']=' + value;
        $.ajax({
          type: 'PUT',
          url: '/teacher/absences/update',
          data: data,
        });
        $(this).replaceWith(value);
      }
    });

    var mass_required_week;

    $('.mass_required').live('click', function() {
      mass_required_week = $(this).attr('id');
      $(this).html('<input id="mass_required_active" type="text" value="">');
      $('#mass_required_active').focus();
    });

    $('#mass_required_active').live('blur', function() {
      required = $(this).val();
      data = 'absence[month]=' + #{@month} + '&absence[week]=' + mass_required_week + '&absence[required]=' + required;
      $.ajax({
        type: 'PUT',
        url: '/teacher/absences/mass_required_update',
        data: data,
      });
      $(this).replaceWith(required);
      $('.' + mass_required_week + '.required_absence').text(required);
    });

  });
