<h2>Ustawienia konta</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email, "Email" %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password, "Hasło" %> <i>(pozostaw puste jeśli nie chcesz go zmieniać)</i><br />
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div><%= f.label :password_confirmation, "Powtórz hasło" %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :current_password, "Aktualne hasło" %> <i>(potrzebujmy twojego aktualnego hasła, aby potwierdzić twoje zmiany)</i><br />
  <%= f.password_field :current_password %></div>

  <div><%= f.submit "Zapisz" %></div>
<% end %>
