<%= page_header "Ustawienia konta" %>

<div class="row">
  <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => "well form-horizontal span5"}) do |f| %>
    <%= devise_error_messages! %>

    <%= f.input :email, :label => "Email" %>
    <%= f.input :password, :label => "Hasło", :hint => "pozostaw puste jeśli nie chcesz go zmieniać" %>
    <%= f.input :password_confirmation, :label => "Powtórz hasło" %>
    <%= f.input :current_password, :label => "Aktualne hasło", :hint => "potrzebujemy twoje aktualne hasło, aby potwierdzić zmiany" %>

    <div class="form-actions">
      <%= f.button :submit, "Zapisz", :class => "btn btn-primary" %>
      <%= link_to "Anuluj", root_path, :class => "btn btn-inverse" %>
    </div>
  <% end %>
</div>
