%table.table.table-bordered
  %tr
    %th Nazwa pliku
    %th{style: "width:450px;"} Opis
    %th Data dodania
    %th{style: "width:105px;"}
  - documents.each do |document|
    %tr
      %td= document.name
      %td= document.description
      %td= document.created_at
      %td
        = link_to("Pobierz", document.document.url, class:"btn btn-mini")
        = link_to delete_link_content, teacher_document_path(document), method:"delete", confirm:"Jesteś pewien?", class: "btn btn-mini btn-danger#{" disabled" unless can? :manage, document}"
