<h2 class="title">Dodaj nowy plik dla klasy</h2>

<%= form_for document, :url => teacher_documents_path, :html => {:multipart => true} do |f| %>
  <table>
    <tr>
      <td><%= f.label :name, 'Nazwa' %></td>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td><%= f.label :description, "Opis" %></td>
      <td><%= f.text_field :description %></td>
    </td>
    <tr>
      <td><%= f.label :document, "Wybierz plik" %></td>
      <td><%= f.file_field :document %><td>
    </tr>
    <tr>
      <td><%= f.submit "Wyślij" %></td>
    </tr>
  <table>
<% end %>
