<div class="page-header">
  <h1>Dodaj nowy plik dla klasy</h1>
</div>

<div class="row">
  <%= simple_form_for document, :url => teacher_documents_path, :html => {:multipart => true, :class => "well form-horizontal span4"} do |f| %>
      <%= f.input :name, :label => 'Nazwa' %>
      <%= f.input :description %>
      <%= f.input :document, :label => "Wybierz plik" %>

      <div class="form-actions">
        <%= f.button :submit, "Zapisz", :class => "brn btn-primary" %>
      </div>
  <% end %>
</div>
