= page_header "Dokumenty"

- unless @school_class_documents.empty?
  %h2 dla klasy
  = render "documents", documents: @school_class_documents
- else
  = info_box "Klasa nie ma dokumentów.", "Możesz dodać dokument poprzez poniższy formularz."

- unless @school_documents.empty?
  %h2 dla nauczycieli
  = render "documents", documents: @school_documents
- else

= second_page_header "Dodaj nowy plik dla klasy"
= render 'form', :document => @document
