<% unless @documents.empty? %>
  <h2 class="title">Dokumenty</h2>
  <table id="documents">
    <tr>
      <th class="document_name">Nazwa pliku</th>
      <th class="document_desc">Opis</th>
      <th class="document_created_at">Data dodania</th>
      <th></th>
      <th></th>
    </tr>
    <% @documents.each do |document| %>
      <tr>
        <td><%= document.name %></td>
        <td><%= document.description %></td>
        <td><%= document.created_at %></td>
        <td><%= link_to("Pobierz", document.document.url) %></td>
        <td><%= link_to("Usuń", teacher_document_path(document), :method => :delete, :confirm => "Jesteś pewien?") %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  Ta klasa nie ma żadnych plików. Możesz dodać plik poprzez poniższy formularz.
<% end %>

<%= render 'form' %>
