<div class="page-header">
  <h1>Dokumenty</h1>
</div>

<% unless @documents.empty? %>
  <table class="table table-bordered">
    <tr>
      <th>Nazwa pliku</th>
      <th style="width:500px;">Opis</th>
      <th>Data dodania</th>
      <th colspan="2"></th>
    </tr>
    <% @documents.each do |document| %>
      <tr>
        <td><%= document.name %></td>
        <td><%= document.description %></td>
        <td><%= document.created_at %></td>
        <td><%= link_to("Pobierz", document.document.url) %>
        <%= link_to("Usuń", teacher_document_path(document), :method => :delete, :confirm => "Jesteś pewien?") %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  Ta klasa nie ma żadnych plików. Możesz dodać plik poprzez poniższy formularz.
<% end %>

<%= render 'form', :document => @document %>
