%h3= semester.fullname
%table.table.table-bordered.table-condensed
  %tr
    %th{style:"width:5%"} Klasa
    %th{style:"width:19%"} %
    %th{style:"width:19%"} Obowiązkowe
    %th{style:"width:19%"} Usprawiedliwione
    %th{style:"width:19%"} Nieusprawiedliwione
    %th{style:"width:19%"} Spóźnienia
  - school_classes.each do |school_class|
    - absences = school_class.semester_absences(semester)
    %tr
      %td= "#{school_class.name}"
      %td= absences.percentage
      %td= absences.required
      %td= absences.justified
      %td= absences.unexcused
      %td= absences.late
