= page_header "Oceny"

- unless current_student.subjects.empty?
  - current_student.subjects.each do |subject|
    %h3= subject.name
    - unless subject.descriptions_by_current_semester.empty?
      .row
        .span6
          %table.table.table-bordered.table-condensed
            %tr
              %th{:style => "width:150px"} Typ oceny
              %th Opis
              %th{:style => "width:50px;"} Ocena
            - subject.descriptions_by_current_semester.each do |description|
              %tr
                %td= description.desc_type
                %td= description.description
                %td= description.marks.find_by_student_id(current_student).try(:mark)
            - if current_student.semestral_marks.find_by_subject_id_and_semester_id(subject, current_student.semester)
              %tr
                %th{colspan: "2"} Ocena semestralna
                %td= current_student.semestral_marks.find_by_subject_id_and_semester_id(subject, current_student.semester).mark
    - else
      = info_box "Wychowawca nie uzupełnił jeszcze ocen z tego przedmiotu.", ""
  %h3 Zachowanie
  - if current_student.current_semester_behavior_mark
    = current_student.current_semester_behavior_mark.mark
  - else
    = info_box "Wychowawca nie uzupełnił jeszcze oceny z zachowania.", ""
- else
  = info_box "Wychowawca nie uzupełnił jeszcze listy przedmiotów.", ""
