= page_header "Wiadomości"
- unless current_student.messages.empty?
  - current_student.messages.each do |message|
    %h3= message.title
    %h3
    %h6
      Wysłano #{message.created_at}
    %p.well= message.body
- else
  = info_box "Klasa nie ma wiadomośći.", ""
