<%= page_header "Frekwencja ucznia #{@student.first_name} #{@student.last_name}" %>

<% unless @absences.empty? %>
  <table class="table table-bordered">
    <tr>
      <th>Tydzień</th>
      <th>obowązkowe</th>
      <th>usprawiedliwione</th>
      <th>nie usprawiedliwione</th>
      <th>spóźnienia</th>
    </tr>
    <% @absences.each do |absence| %>
      <% if absence.date.month != @month %>
        <% @month = absence.date.month %>
        <tr>
          <th colspan="6" style="text-align:center;"><%= I18n.t(absence.date.strftime("%B")) %></td>
        </tr>
      <% end %>
      <tr>
        <td><%= absence.date %></td>
        <td><%= absence.try(:required) %></td>
        <td><%= absence.try(:justified) %></td>
        <td><%= absence.try(:unexcused) %></td>
        <td><%= absence.try(:late) %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <%= alert_box "Wychowawca nie uzupełnił jeszcze frekwencji.", "" %>
<% end %>
