<%= page_header "Frekwencja ucznia #{@student.first_name} #{@student.last_name}" %>

<% unless @absences.empty? %>
  <div class="row">
    <div class="span6">
      <table class="table table-bordered table-condensed">
        <tr>
          <th style="width:70px">Tydzień</th>
          <th>ob</th>
          <th>us</th>
          <th>nu</th>
          <th>sp</th>
        </tr>
        <% @absences.each do |absence| %>
          <% if absence.date.month != @month %>
            <% @month = absence.date.month %>
            <tr>
              <th colspan="5" style="text-align:center;"><%= I18n.t(absence.date.strftime("%B")) %></td>
            </tr>
          <% end %>
          <tr>
            <td><%= absence.date %></td>
            <td><%= absence.try(:required) %></td>
            <td><%= absence.try(:justified) %></td>
            <td><%= absence.try(:unexcused) %></td>
            <td><%= absence.try(:late) %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
<% else %>
  <%= info_box "Wychowawca nie uzupełnił jeszcze frekwencji.", "" %>
<% end %>
