<div id="time_tables">
  <% if @time_tables.empty? %>
    Nie masz żadnych dni w planie lekcji.
  <% else %>
    <% @time_tables.each do |time_table| %>
      <div class="time_table_day">
        <table class="day" >
          <tr>
            <th colspan='2'>
              <%= time_table.week_day_name %>
              <%= link_to("Usuń", {:controller => 'teacher/time_tables', :action => 'destroy', :id => time_table.id}, :method => :delete, :confirm => "Jesteś pewien?", :class => "delete_link") %>
            </th>
          </tr>
          <% time_table.lessons.each do |lesson| %>
            <tr>
              <td class="lesson_number"><%= lesson.number %></td>
              <td class="lesson_name"><%= lesson.subject_name %></td>
            </tr>
          <% end %>
        </table>
      </div>
    <% end %>
  <% end %>
</div>

<%= button_to('Dodaj nowy dzień', new_teacher_time_table_path, :method => :get) %>
