<%= page_header "Zapomniałeś hasło" %>

<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <%= f.input :email, :label => "Email" %>

  <div class="form-actions">
    <%= f.button :submit, "Wyślij mi instrukcje resetowania hasła", :class => "btn btn-primary" %>
      <%= link_to "Anuluj", root_path, :class => "btn btn-inverse" %>
  </div>
<% end %>

<%= render "links" %>
