<%= page_header "Raporty" %>

<% @semesters.each do |semester| %>

  <h2><%= semester.fullname %></h2>
  <table class="table table-bordered table-condensed">
    <tr>
      <th rowspan="2">#</th>
      <th rowspan="2">Imię</th>
      <th rowspan="2">Nazwisko</th>
      <th colspan="5">Frekwencja</th>
      <th colspan="8">Oceny</th>
    </tr>
    <tr>
      <th style="width:85px;">%</th>
      <th>ob</th>
      <th>us</th>
      <th>nu</th>
      <th>sp</th>
      <th>Średnia</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
      <th>nkl</th>
    </tr>
    <% @students.each_with_index do |student,i | %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= student.first_name %></td>
        <td><%= student.last_name %></td>
        <%= student_semester_absences(student, semester.id) %>
        <td><%= student.semester_average(semester.id) %></td>
        <td><%= student.count_semestral_marks(1, semester.id) %></td>
        <td><%= student.count_semestral_marks(2, semester.id) %></td>
        <td><%= student.count_semestral_marks(3, semester.id) %></td>
        <td><%= student.count_semestral_marks(4, semester.id) %></td>
        <td><%= student.count_semestral_marks(5, semester.id) %></td>
        <td><%= student.count_semestral_marks(6, semester.id) %></td>
        <td><%= student.count_semestral_marks('nkl', semester.id) %></td>
      </tr>
    <% end %>
    <tr>
      <th colspan="3">Razem</td>
      <%= school_class_semester_absences(@school_class, semester.id) %>
      <td><%= @school_class.semester_average(semester.id) %></td>
      <td><%= @school_class.count_semestral_marks(1, semester.id) %></td>
      <td><%= @school_class.count_semestral_marks(2, semester.id) %></td>
      <td><%= @school_class.count_semestral_marks(3, semester.id) %></td>
      <td><%= @school_class.count_semestral_marks(4, semester.id) %></td>
      <td><%= @school_class.count_semestral_marks(5, semester.id) %></td>
      <td><%= @school_class.count_semestral_marks(6, semester.id) %></td>
      <td><%= @school_class.count_semestral_marks('nkl', semester.id) %></td>
  </table>

  <% if semester.semester == 2 %>
    <h2>Podsumowanie roku szkolnego <%= semester.years %></h2>
    <table class="table table-bordered table-condensed">
      <tr>
        <th rowspan="2">#</th>
        <th rowspan="2">Imię</th>
        <th rowspan="2">Nazwisko</th>
        <th colspan="5">Frekwencja</th>
        <th colspan="8">Oceny</th>
      </tr>
      <tr>
        <th style="width:85px;">%</th>
        <th>ob</th>
        <th>us</th>
        <th>nu</th>
        <th>sp</th>
        <th>Średnia</th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
        <th>6</th>
        <th>nkl</th>
      </tr>
      <% @students.each_with_index do |student,i | %>
        <tr>
          <td><%= i+1 %></td>
          <td><%= student.first_name %></td>
          <td><%= student.last_name %></td>
          <%= student_year_absences(student, semester.end_year) %>
          <td><%= student.year_average(semester.end_year) %></td>
          <td><%= student.count_year_marks(1, semester.end_year) %></td>
          <td><%= student.count_year_marks(2, semester.end_year) %></td>
          <td><%= student.count_year_marks(3, semester.end_year) %></td>
          <td><%= student.count_year_marks(4, semester.end_year) %></td>
          <td><%= student.count_year_marks(5, semester.end_year) %></td>
          <td><%= student.count_year_marks(6, semester.end_year) %></td>
          <td><%= student.count_year_marks('nkl', semester.end_year) %></td>
        </tr>
      <% end %>
      <tr>
        <th colspan="3">Razem</td>
        <%= school_class_year_absences(@school_class, semester.end_year) %>
        <td><%= @school_class.year_average(semester.end_year) %></td>
        <td><%= @school_class.count_year_marks(1, semester.end_year) %></td>
        <td><%= @school_class.count_year_marks(2, semester.end_year) %></td>
        <td><%= @school_class.count_year_marks(3, semester.end_year) %></td>
        <td><%= @school_class.count_year_marks(4, semester.end_year) %></td>
        <td><%= @school_class.count_year_marks(5, semester.end_year) %></td>
        <td><%= @school_class.count_year_marks(6, semester.end_year) %></td>
        <td><%= @school_class.count_year_marks('nkl', semester.end_year) %></td>
    </table>
  <% end %>
<% end %>
