<div class="page-header">
  <h1>Przedmioty</h1>
</div>

<% unless @subjects.empty? %>
  <div class="row">
    <table class="table table-bordered span6">
      <% @subjects.each do |subject| %>
        <tr>
          <td><%= link_to(subject.name, teacher_subject_path(subject)) %></td>
          <td><%= link_to("Pokaż oceny", teacher_subject_path(subject)) %></td>
          <td><%= link_to("Usuń", teacher_subject_path(subject.id), :method => :delete, :confirm => "Jesteś pewien?") %></td>
        </tr>
      <% end %>
    </table>
  </div>
<% else %>
  Nie masz żadnych przedmiotów. Możesz dodać przedmiot poprzez poniższy formularz.
<% end %>

<div class="page-header">
  <h1>Dodaj nowy przedmiot</h1>
</div>

<div class="row">
  <%= simple_form_for @subject, :url => teacher_subjects_path, :html => {:class => "well form-inline span4"} do |f| %>
    <%= f.input_field :name, :placeholder => "Nazwa przedmiotu" %>
    <%= f.button :submit, "Zapisz" %></span>
  <% end %>
</div>
