<%= page_header "Przedmioty" %>

<% unless @subjects.empty? %>
  <table class="table table-bordered">
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= link_to(subject.name, teacher_subject_path(subject)) %></td>
        <td><%= link_to("Pokaż oceny", teacher_subject_path(subject)) %></td>
        <td><%= link_to("Usuń", teacher_subject_path(subject.id), :method => :delete, :confirm => "Jesteś pewien?") %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <%= alert_box "Klasa nie ma przedmiotów!", "Możesz dodać przedmiot poprzez poniższy formularz." %>
<% end %>

<%= page_header "Dodaj nowy przedmiot" %>

<%= render "form", :subject => @subject, :subject_templates => @subject_templates %>
