<h2 class="title"><%= image_tag("subjects_32.png") %> Przedmioty</h2>

<% unless @subjects.empty? %>
  <table>
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= link_to(subject.name, teacher_subject_path(subject)) %></td>
        <td><%= link_to("Pokaż oceny", teacher_subject_path(subject)) %></td>
        <td><%= link_to("Edytuj", "#") %></td>
        <td><%= link_to("Usuń", teacher_subject_path(subject.id), :method => :delete, :confirm => "Jesteś pewien?") %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  Nie masz żadnych przedmiotów. Możesz dodać przedmiot poprzez poniższy formularz.
<% end %>

<h2 class="title"><%= image_tag("subjects_add_32.png") %> Dodaj nowy przedmiot</h2>
<%= form_for @subject, :url => teacher_subjects_path do |f| %>
  <span><%= f.label :name, 'Nazwa' %>
  <%= f.text_field :name %></span>

  <span><%= f.submit "Stwórz" %></span>
<% end %>
