<%= javascript_include_tag "jquery.fancybox-1.3.4.pack" %>
<%= stylesheet_link_tag "jquery.fancybox-1.3.4" %>
<h2 class="title"><%= image_tag("students_marks_32.png") %> Oceny - <%= @subject.name %></h2>

<table class="marks">
  <tr>
    <th class="left title_mark bg6" style="padding-left:8px;" width="25px">l.p</th>
    <th class="center title_mark_name bg6" width="100px">Imię</th>
    <th class="center title_mark bg6" style="padding-left:10px;" width="100px">Nazwisko</th>
    <% @descriptions.each do |description| %>
      <th class="title_mark bg4">
        <span class="title_of_mark" title="<center><%= description.desc_type + ' - ' + description.description %><br/><small>Kliknij aby usunąć</small></center>">
          <span onclick="windowYesNo(\"/teacher/descriptions/<%= description.id %>\")" style="cursor:pointer;"><%= truncate(description.desc_type, :length => 4, :omission => '') %></span>
        </span>
      </th>
    <% end %>

    <th class="center title_mark bg6"></th>
    <th class="center title_mark bg6" width="30px">
      <a id="new_description_link" href="#new_description"><%= image_tag("plus.gif", :class => "title_of_mark", :title => "Dodaj nowy typ oceny", :style => "cursor:pointer;vertical-align: middle;") %></a>
    </th>
    <th class="center title_mark bg6"><span class="title_of_mark" title="Ocena semestralna">OS</span></th>
    <th class="center title_mark bg6"><% image_tag("average_ico.png", :class => "title_of_mark", :title => "Średnia z podanych ocen") %></th>
  </tr>
  <% @students.each_with_index do |student, i| %>
    <tr>
      <td class="right border_b student_record" style="padding-right:5px;"><%= i+1 %></td>
      <td class="left border_b student_record" width="100px"><%= student.first_name %></td>
      <td class="left border_b student_record>" style="padding-left:10px;border-right:1px solid #eee;" width="100px"><%= student.last_name %></td>
      <% @descriptions.each_with_index do |description, j| %>
        <td id="<%= "#{student.id}_#{description.id}" %>" class="mark"><%= @marks[i][j].mark if @marks[i][j] %></td>
      <% end %>
      <td style="border:none;border-left:1px solid #eee;border-right:1px solid #eee;background:none"></td>
      <td style="border:none;border-left:1px solid #eee;border-right:1px solid #eee;background:none"></td>
      
    </tr>
  <% end %>

</table>

<div style="display: none;">
  <div id="new_description">
    <h2 class="title"><% image_tag('marks_type.png') %> Dodaj nowy typ oceny</h2>
    <%= form_for @description, :url => teacher_descriptions_path do |f| %>
      <%= f.hidden_field :subject_id, :value => @subject.id %>
      <div><%= f.label :desc_type, 'Typ' %><br />
      <%= f.text_field :desc_type %></div>

      <div><%= f.label :description, 'Opis' %><br />
      <%= f.text_field :description %></div>

      <div><%= f.label :colour, 'Kolor' %><br />
      <%= f.text_field :colour %></div>

      <div><%= f.submit "Stwórz" %></div>
    <% end %>
    </table>
  </div>
</div>

<script>
  $(document).ready(function() {
    $("#new_description_link").fancybox({
        'titlePosition' : 'inside',
        'overlayColor'  : '#000',
        'overlayOpacity': 0.5
    });

    var parsed_id;

    $('.mark').live('click', function() {
      clone = $(this).clone();
      parsed_id = $(this).attr('id').split('_');
      old_mark = clone.text();
      clone.text('');
      clone.append('<input id="mark_active" name="mark[mark]" type="text" value="'+old_mark+'">');
      $(this).replaceWith(clone);
      $('#' + clone.attr('id')).children().focus();
    });

    $('#mark_active').live('blur', function() {
      mark = $(this).val();
      /*if (mark.match(/-/)) {

      } else if (mark.match(/+/)) {

      }*/
      data = 'mark[mark]=' + mark +
      '&mark[student_id]=' + parsed_id[0] +
      '&mark[description_id]=' + parsed_id[1] +
      '&mark[subject_id]=' + <%= @subject.id %>
      $.ajax({
        type: 'PUT',
        url: '/teacher/marks/update',
        data: data,
      });
      $(this).replaceWith(mark);
    });
  });
</script>
