= render "subjects_dropdown", subjects: current_teacher.subjects

= page_header "Oceny", @subject.name

= info_box "Oceny",
  'Żeby dodać ocenę należy kliknąć na odpowiednie miejsce w tabeli. Jeśli chcesz usunąć ocenę należy wpisać "0"',
  image_tag("teacher_subjects_info_1.png", style:"margin:0", class:"span5")

= render "marks_table", descriptions: @descriptions, subject: @subject, students: current_teacher.students

= info_box "Kartki z ocenami i frekwencją",
   "Możesz wydrukować karteczki z ocenami i frekwencją korzystając z pliku PDF.",
   link_to(image_tag("filetype_pdf.png") + "Kartki z ocenami",
   meeting_cards_teacher_students_path + ".pdf")

:javascript
  $(document).ready(function() {
    $.ajaxSetup({
      beforeSend: function(xhr) {
        xhr.setRequestHeader('X-CSRF-Token',$('meta[name="csrf-token"]').attr('content'));
      }
    });

    $(".description").popover();
    $("#add_description").popover();

    var parsed_id;

    $('.mark').live('click', function() {
      clone = $(this).clone();
      parsed_id = $(this).attr('id').split('_');
      old_mark = clone.text();
      clone.text('');
      clone.append('<input id="mark_active" name="mark[mark]" type="text" value="">');
      $(this).replaceWith(clone);
      $('#' + clone.attr('id')).children().focus();
    });

    $('#mark_active').live('blur', function() {
      mark = $(this).val();
      data = 'mark[mark]=' + mark +
      '&mark[student_id]=' + parsed_id[1] +
      '&mark[description_id]=' + parsed_id[2] +
      '&mark[subject_id]=' + #{@subject.id}
      $.ajax({
        type: 'PUT',
        url: '/teacher/marks',
        data: data,
      });
    });

    var parsed_id2;

    $('.semestral_mark').live('click', function() {
      clone = $(this).clone();
      parsed_id2 = $(this).attr('id').split('_');
      old_mark = clone.text();
      clone.text('');
      clone.append('<input id="semestral_mark_active" name="semestral_mark[mark]" type="text" value="">');
      $(this).replaceWith(clone);
      $('#' + clone.attr('id')).children().focus();
    });

    $('#semestral_mark_active').live('blur', function() {
      mark = $(this).val();
      var data = 'semestral_mark[mark]=' + mark +
      '&semestral_mark[student_id]=' + parsed_id2[2] +
      '&semestral_mark[subject_id]=' + #{@subject.id}
      $.ajax({
        type: 'PUT',
        url: '/teacher/semestral_marks',
        data: data,
      });
    });
  });
