= page_header "Oceny", @subject.name

= info_box "Oceny",
  "Żeby dodać ocenę należy kliknąć na odpowiednie miejsce w tabeli.",
  image_tag("teacher_subjects_info_1.png", style:"margin:0", class:"span5")

%table.table.table-bordered.table-condensed
  %tr
    %th{style:"width:3%"} #
    %th{style:"width:11%"} Imię
    %th{style:"width:11%"} Nazwisko
    - @descriptions.each do |description|
      %th{style:"width:30px;"}= link_to_delete_description(description)
    %th
      = render 'description_form', description:@description, subject:@subject
      = add_description_button
    %th{style:"width:20px;", title:"Ocena semestralna"} OS
    %th{style:"width:20px;"}= image_tag("average_ico.png", class:"title_of_mark", title:"Średnia z podanych ocen")
  - @students.each_with_index do |student, i|
    %tr
      %td= i+1
      %td= student.first_name
      %td= student.last_name
      - @descriptions.each do |description|
        %td.mark{id:"mark_#{student.id}_#{description.id}"}
          = student.marks.find_by_description_id(description).try(:mark)
      %td
      %td.semestral_mark{:id => "semestral_mark_#{student.id}"}
        = student.semestral_marks.find_by_subject_id_and_semester_id(@subject, student.semester).try(:mark)
      %td.mark_average= student.current_average_from_subject(@subject.id)

:javascript
  $(document).ready(function() {
    $.ajaxSetup({
      beforeSend: function(xhr) {
        xhr.setRequestHeader('X-CSRF-Token',$('meta[name="csrf-token"]').attr('content'));
      }
    });

    $(".description").popover();
    $("#add_description").popover();

    var parsed_id;

    $('.mark').live('click', function() {
      clone = $(this).clone();
      parsed_id = $(this).attr('id').split('_');
      old_mark = clone.text();
      clone.text('');
      clone.append('<input id="mark_active" name="mark[mark]" type="text" value="'+old_mark+'">');
      $(this).replaceWith(clone);
      $('#' + clone.attr('id')).children().focus();
    });

    $('#mark_active').live('blur', function() {
      mark = $(this).val();
      data = 'mark[mark]=' + mark +
      '&mark[student_id]=' + parsed_id[1] +
      '&mark[description_id]=' + parsed_id[2] +
      '&mark[subject_id]=' + #{@subject.id}
      $.ajax({
        type: 'PUT',
        url: '/teacher/marks',
        data: data,
      });
    });

    var parsed_id2;

    $('.semestral_mark').live('click', function() {
      clone = $(this).clone();
      parsed_id2 = $(this).attr('id').split('_');
      old_mark = clone.text();
      clone.text('');
      clone.append('<input id="semestral_mark_active" name="semestral_mark[mark]" type="text" value="'+old_mark+'">');
      $(this).replaceWith(clone);
      $('#' + clone.attr('id')).children().focus();
    });

    $('#semestral_mark_active').live('blur', function() {
      mark = $(this).val();
      var data = 'semestral_mark[mark]=' + mark +
      '&semestral_mark[student_id]=' + parsed_id2[2] +
      '&semestral_mark[subject_id]=' + #{@subject.id}
      $.ajax({
        type: 'PUT',
        url: '/teacher/semestral_marks',
        data: data,
      });
    });
  });
