<h2 class="title"><%= image_tag("students_marks_32.png") %> Oceny - <%= @subject.name %></h2>

<table class="marks">
  <tr>
    <th class="left title_mark bg6" style="padding-left:8px;" width="25px">l.p</th>
    <th class="center title_mark_name bg6" width="100px">Imię</th>
    <th class="center title_mark bg6" style="padding-left:10px;" width="100px">Nazwisko</th>
    <% @descriptions.each do |description| %>
      <th class="title_mark bg4">
        <span class="title_of_mark" title="<center><%= description.type + ' - ' + description.description %><br/><small>Kliknij aby usunąć</small></center>">
          <span onclick="windowYesNo(\"/teacher/descriptions/<%= description.id %>\")" style="cursor:pointer;">
        </span>
      </th>
    <% end %>

    <th class="center title_mark bg6"></th>
    <th class="center title_mark bg6" width="30px">
      <a id="new_mark_type" href="#new_mark"><%= image_tag("plus.gif", :class => "title_of_mark", :title => "Dodaj nowy typ oceny", :style => "cursor:pointer;vertical-align: middle;") %></a>
    </th>
    <th class="center title_mark bg6"><span class="title_of_mark" title="Ocena semestralna">OS</span></th>
    <th class="center title_mark bg6"><% image_tag("average_ico.png", :class => "title_of_mark", :title => "Średnia z podanych ocen") %></th>
  </tr>
  <td>
    <% @students.each_with_index do |student, i| %>
      <td class="right border_b student_record" style="padding-right:5px;"><%= i %></td>
      <td class="left border_b student_record" width="100px"><%= student.first_name %></td>
      <td class="left border_b student_record>" style="padding-left:10px;border-right:1px solid #eee;" width="100px"><%= student.last_name %></td>
    <% end %>

</table>
