= page_header "Dokumenty"

- unless current_director.school_documents.empty?
  %table.table.table-bordered
    %tr
      %th Nazwa pliku
      %th{:style => "width:450px;"} Opis
      %th Data dodania
      %th{style:"width:105px;"}
    - current_director.school_documents.each do |document|
      %tr
        %td= document.name
        %td= document.description
        %td= document.created_at
        %td
          = link_to("Pobierz", document.document.url, class:"btn btn-mini")
          = link_to(delete_link_content, director_document_path(document), method:"delete", confirm:"Jesteś pewien?", class:"btn btn-mini btn-danger danger")
- else
  = info_box "Szkoła nie ma dokumentów.", "Możesz dodać dokument poprzez poniższy formularz."

= second_page_header "Dodaj nowy plik dla klasy"
= render "form", document:Document.new 
