<div id='login_box'>
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <div><%= f.label :user_name, 'Login' %><br />
    <%= f.text_field :user_name %></div>

    <div><%= f.label :password, 'Hasło' %><br />
    <%= f.password_field :password %></div>

    <div><%= f.submit "Zaloguj" %></div>
  <% end %>

  <%= render "links" %>
</div>
