= page_header "Ustawienia szkoły"

- unless @semesters.empty?
  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th{style: "width:20px"} #
        %th Semestr
        %th Rok
        %th{style: "width:233px"}
    - @semesters.each_with_index do |semester, i|
      %tr
        %td= i+1
        %td= semester.semester
        %td= "#{semester.start_year}/#{semester.end_year}"
        %td
          = link_to "Ustaw jako aktywny",
            admin_semester_active_path(semester),
            class: "btn btn-mini #{"disabled" unless can? :activate, semester}",
            confirm: "Czy jesteś pewien, że chcesz aktywować semestr: #{semester.fullname}?"
          - if semester.archived
            = link_to "Przywróć", admin_semester_unarchive_path(semester), class: "btn btn-mini"
          - else
            = link_to "Archiwizuj", admin_semester_archive_path(semester), class: "btn btn-mini #{"disabled" unless can? :archive, semester}"
          = link_to delete_link_content,
            admin_semester_path(semester),
            method: "delete",
            confirm: "Jesteś pewien?",
            class: "btn btn-mini btn-danger"
- else
  = alert_box "Szkoła nie ma ustawionego semestru!", "Możesz dodać semestr poprzez poniższy formularz."

= page_header "Dodaj nowy semestr"

= render 'admin/semesters/form', semester: @semester
