= page_header "Aktywne klasy"

- unless current_director.school_classes.empty?
  .row
    .span6
      %table.table.table-bordered
        %tr
          %th Klasa
          %th{style:"width:199px;"}
        - current_director.school_classes.each do |school_class|
          %tr
            %td= school_class.fullname
            %td
              = link_to("Bieżąca frekwencja", director_school_class_absences_path(school_class), class:"btn btn-mini")
              = link_to("Bieżące oceny", director_school_class_subject_path(school_class), class:"btn btn-mini")
- else
  = info_box "Szkoła nie ma aktywnych klas.", "Poczekaj aż, nauczyciele dodadzą klasy."
