<%= page_header "Aktywne klasy" %>

<% unless @school_classes.empty? %>
  <table class="table table-bordered">
    <tr>
      <th>Klasa</th>
      <th>Ogólna frekwencja</th>
      <th>Bieżąca frekwencja</th>
      <th>Oceny</th>
    </tr>
    <% @school_classes.each do |school_class| %>
      <tr>
        <td><%= school_class.fullname %></td>
        <td><%= link_to("Pokaż", general_director_absences_path(school_class, school_class.semester)) %></td>
        <td><%= link_to("Pokaż", actual_director_absences_path(school_class)) %></td>
        <td>
          <% unless school_class.subjects.empty? %>
            <%= link_to("Pokaż", director_school_class_subject_path(school_class.id, school_class.subjects.last.id)) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  <%= alert_box "Szkoła nie posiada aktywnych klas!", "Poczekaj aż, nauczyciele dodadzą klasy." %>
<% end %>
