= page_header "Aktywne klasy"
- unless @school_classes.empty?
  %table.table.table-bordered
    %tr
      %th.ordinal #
      %th.class_name Klasa
      %th{style:"width:20%"} Ogólna frekwencja
      %th{style:"width:20%"} Bieżąca frekwencja
      %th{style:"width:20%"} Oceny
    - @school_classes.each_with_index do |school_class, i|
      %tr
        %td= i+1
        %td= school_class.fullname
        %td= link_to("Pokaż", general_director_absences_path(school_class, school_class.semester))
        %td= link_to("Pokaż", actual_director_absences_path(school_class))
        %td
          - unless school_class.subjects.empty?
            = link_to("Pokaż", director_school_class_subject_path(school_class, school_class.subjects.with_description.first))
- else
  = alert_box "Szkoła nie posiada aktywnych klas!", "Poczekaj aż, nauczyciele dodadzą klasy."
