<%= page_header "Wiadomości" %>

<% unless @messages.empty? %>
  <% @messages.each do |message| %>
    <h3><%= message.title %><h3>
    <h6>Wysłano <%= message.created_at %>
      (<%= link_to("Edytuj", edit_teacher_message_path(message)) %>
      <%= link_to("Usuń", teacher_message_path(message), :method => :delete) %>)</h6>
    <p class="well"><%= message.body %></p>
  <% end %>
<% else %>
  <%= info_box "Klasa nie ma wiadomośći.", "Możesz dodać wiadomość poprzez poniższy formularz." %>
<% end %>

<%= page_header "Dodaj nową wiadomość dla klasy" %>

<%= render "form", :message => @message %>
