- semesters.each do |semester|
  %h2= semester.fullname
  %table.table.table-bordered.table-condensed
    %tr
      %th{rowspan:"2", style:"width:3%"} #
      %th{rowspan:"2", style:"width:11%"} Imię
      %th{rowspan:"2", style:"width:11%"} Nazwisko
      %th{colspan:"5", style:"width:35%"} Frekwencja
      %th{colspan:"8", style:"width:40%"} Oceny
    %tr
      %th{style:"width:7%"} %
      %th{style:"width:7%"} ob
      %th{style:"width:7%"} us
      %th{style:"width:7%"} nu
      %th{style:"width:7%"} sp
      %th{style:"width:5%"} Średnia
      %th{style:"width:5%"} 1
      %th{style:"width:5%"} 2
      %th{style:"width:5%"} 3
      %th{style:"width:5%"} 4
      %th{style:"width:5%"} 5
      %th{style:"width:5%"} 6
      %th nkl
    - required = justified = unexcused = late = 0
    - marks = [0,0,0,0,0,0]
    - students.each_with_index do |student, i|
      - absences = student.semester_absences(semester)
      - required += absences[:required]
      - justified += absences[:justified]
      - unexcused += absences[:unexcused]
      %tr
        %td= i+1
        %td= student.first_name
        %td= student.last_name
        %td= absence_percentage(absences[:required], absences[:justified], absences[:unexcused])
        %td= absences[:required]
        %td= absences[:justified]
        %td= absences[:unexcused]
        %td= absences[:late]
        %td= student.semester_average(semester)
        - 1.upto(6).each do |i|
          - count = student.count_semestral_marks(i, semester.id)
          - marks[i] =+ count
          %td= count
        %td
    %tr
      %th{colspan:3} Razem
      %th= absence_percentage(required, justified, unexcused)
      %th= required
      %th= justified
      %th= unexcused
      %th= late
      %th= school_class.semester_average(semester)
      - 1.upto(6).each do |i|
        %th= marks[i]
      %th
