<%= page_header "Zaloguj się" %>

<div class="row">
  <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "span5"}) do |f| %>
    <%= f.input :username, :label => "Login" %>
    <%= f.input :password, :label => "Hasło" %>

    <%= render "links" %>

    <div class="form-actions">
      <%= f.button :submit, "Zaloguj" %>
    </div>
  <% end %>
</div>
