<div class="btn-group">
  <button class="btn">Wybierz przedmiot</button>
  <button class="btn dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <% @subjects.each do |subject| %>
      <%= nav_link_to(subject.name, director_school_class_subject_path(@school_class, subject)) %>
    <% end %>
  </ul>
</div>

<%= page_header "Oceny - " + @subject.name %>

<table class="table table-bordered table-condensed table-striped">
  <tr>
    <th class="ordinal">#</th>
    <th class="first_name">Imię</th>
    <th class="last_name">Nazwisko</th>
    <% unless @descriptions.empty? %>
      <% @descriptions.each do |description| %>
        <th class="description" title="<%= description.desc_type + ' - ' + description.description %>">
          <%= truncate(description.desc_type, :length => 4, :omission => '') %>
        </th>
      <% end %>
    <% else %>
    <% end %>
    <th></th>
    <th class="semestral_mark" title="Ocena semestralna">OS</th>
    <th class="average" title="Średnia z podanych ocen">ŚR</th>
  </tr>
  <% @students.each_with_index do |student, i| %>
    <tr>
      <td><%= i+1 %></td>
      <td><%= student.first_name %></td>
      <td><%= student.last_name %></td>
      <% @descriptions.current.each do |description| %>
        <td><%= description.marks.find_by_student_id(student).try(:mark) %></td>
      <% end %>
      <td><%= student.semestral_marks.current.find_by_subject_id(@subject) %></td>
      <td><%= sprintf("%1.2f", student.current_average_from_subject(@subject.id)) %></td>
    </tr>
  <% end %>
</table>
