= page_header "Użytkownicy"

%h2 Nauczyciele
- unless current_admin.teachers.empty?
  = render "users", users: current_admin.teachers
- else
  = info_box "Szkoła nie posiada nauczycieli.", ""

%h2 Dyrektorzy
- unless current_admin.directors.empty?
  = render "users", users: current_admin.directors
- else
  = info_box "Szkoła nie posiada dyrektorów.", ""

%h2 Administratorzy 
- unless current_admin.admins.empty?
  = render "users", users: current_admin.admins
- else
  = info_box "Jesteś jedynym administratorem szkoły.", ""

= page_header "Dodaj nowego użytkownika"

= render "form", :user => User.new 
