= page_header "Użytkownicy"

= info_box "Lista nauczycieli",                                                                   |
  "Możesz również otworzyć listę nauczycieli w formacie #{link_to "PDF", "/admin/users.pdf"}, " + |
  "co pozwoli ci na wydrukowanie kartki z danymi do logowania.",                                  |
  link_to(image_tag("filetype_pdf.png") + "Pokaż listę w PDF", "/admin/users.pdf")           |

%h2 Nauczyciele
- unless @teachers.empty?
  = render "users", users: @teachers
- else
  = info_box "Szkoła nie posiada nauczycieli.", ""

%h2 Dyrektorzy
- unless @directors.empty?
  = render "users", users: @directors
- else
  = info_box "Szkoła nie posiada dyrektorów.", ""

%h2 Administratorzy
- unless @admins.empty?
  = render "users", users: @admins
- else
  = info_box "Jesteś jedynym administratorem szkoły.", ""

= page_header "Dodaj nowego użytkownika"

= render "form", user: User.new
