= page_header "Zmień hasło użytkownika #{@user.first_name} #{@user.last_name}(#{@user.username})"

.row
  = simple_form_for @user, url: admin_user_update_password_path(@user), method: :put, html: { class: "well form-horizontal span5" } do |f|
    = f.input :password, label: "Nowe hasło"
    = f.input :password_confirmation, label: "Powtórz nowe hasło"
    = f.input :current_password, label: "Hasło", hint: "potrzebujemy twoje aktualne hasło, aby potwierdzić zmiany"
    .form-actions
      = f.button :submit, "Zapisz", class: "btn btn-primary"
      = link_to "Anuluj", teacher_students_path, class: "btn btn-inverse"
