<%= page_header("Ustawienia klas") %>

<% unless @school_classes.empty? %>

  <%= info_box "Klasy i semestry", "Żeby ustawić semestr jako aktywny należy kliknąć na jego nazwę.", image_tag("teacher_school_classes_info_1.png") %>

  <% @school_classes.each_with_index do |school_class, i| %>

    <%= row_3(i) %>

    <div class="span4">
      <table class="table table-bordered">
        <tr>
          <td>
            <%= school_class.fullname %>
            <%= link_to("Usuń", teacher_school_class_path(school_class), :method => :delete, :confirm => "Jesteś pewien?", :style => "float:right;color:red;") %>
          </td>
        </tr>

        <% school_class.semesters.each do |semester| %>
          <tr>
            <td>
              <%= link_to("Semestr #{semester_status_info(semester)}", {:controller => 'teacher/semesters', :action => 'activate', :id => semester.id}) %>
              <%= link_to("Usuń", {:controller => 'teacher/semesters', :action => 'destroy', :id => semester.id}, :method => :delete, :confirm => "Jesteś pewien?", :style => "float:right;color:red;") %>
            </td>
          </tr>
        <% end %>

        <tr>
          <td>
            <%= render "new_semester", :school_class => school_class %>
          </td>
        </tr>
      </table>
    </div>

    <%= end_row_3(i, @school_classes.count) %>

  <% end %>
<% else %>
  <%= alert_box("Nie masz klas!", "Możesz dodać klasę poprzez poniższy formularz.") %>
<% end %>

<%= page_header("Dodaj nową klasę") %>

<%= render 'form', :school_class => @school_class %>
