<%= page_header("Ustawienia klas") %>

<% if @active_school_class %>
  <div class="hero-unit">
    <h1><%= @active_school_class.fullname %></h1>
    <p>Semestr: <%= @active_school_class.semester.fullname%></p>
    <div class="btn-group">
      <%= semester_dropdown_button %>
      <ul class="dropdown-menu">
        <% @active_school_class.school_semesters.each do |semester| %>
          <%= semester_dropdown_link(semester, @active_school_class) %>
        <% end %>
      </ul>
    </div>
    <p>
    </p>
  </div>
<% else %>

<% end %>

<% unless @school_classes.empty? %>

  <h2>Klasy</h2>

  <table class="table table-bordered table-striped">
    <tr>
      <th>#</th>
      <th>Rocznik</th>
      <th>Klasa</th>
      <th>Profil</th>
      <th style="width:160px;"></th>
    </tr>

    <% @school_classes.each_with_index do |school_class, i| %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= school_class.yearbook %></td>
        <td><%= school_class.name %></td>
        <td><%= school_class.profile %></td>
        <td>
          <% if school_class.active %>
            Aktywna klasa
          <% else %>
            <%= link_to "Ustaw jako aktywną", set_school_class_as_active_path(school_class) %>
          <% end %>
          <%= link_to("Usuń", teacher_school_class_path(school_class), :method => :delete, :confirm => "Jesteś pewien?", :style => "float:right;color:red;") %>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  <%= info_box("Nie masz klas.", "Możesz dodać klasę poprzez poniższy formularz.") %>
<% end %>

<%= page_header("Dodaj nową klasę") %>

<%= render 'form', :school_class => @school_class %>
