<table>
  <% unless @school_classes.nil? %>
    <% @school_classes.each do |school_class| %>
      <tr>
        <td>
          <%= school_class.fullname %>
          <%= link_to("Usuń", {:controller => 'teacher/school_classes', :action => 'destroy', :id => school_class.id}, :method => :delete, :confirm => "Jesteś pewien?") %>
        <td>
      </tr>

      <% school_class.semesters.each do |semester| %>
        <tr>
          <td>
            Semestr <%= semester_status_info(semester) %>
            <%= button_to("Usuń", {:controller => 'teacher/semesters', :action => 'destroy', :id => semester.id}, :method => :delete, :confirm => "Jesteś pewien?") %>
            <%= button_to("Ustaw", {:controller => 'teacher/semesters', :action => 'activate', :id => semester.id}) %>
          </td>
        </tr>
      <% end %>

      <tr>
        <td>
          <%= form_for @semester, :url => {:controller => 'teacher/semesters', :action => 'create'} do |f|%>
            <%= f.hidden_field :school_class_id, :value => school_class.id %>
            <%= f.submit "Dodaj nowy semestr" %>
          <% end %>
        <td>
      </tr>
    <% end %>
  <% end %>
</table>

  <h2>Dodaj nową klasę</h2>
  <%= form_for @school_class, :url => teacher_school_classes_path do |f| %>
    <div><%= f.label :year, 'Klasa' %><br />
    <%= f.number_field :year %></div>

    <div><%= f.label :name, 'Nazwa' %><br />
    <%= f.text_field :name %></div>

    <div><%= f.label :profile, 'Profil' %><br />
    <%= f.text_field :profile %></div>

    <div><%= f.label :yearbook, 'Rocznik' %><br />
    <%= f.number_field :yearbook, :value => '2011' %></div>

    <div><%= f.submit "Stwórz" %></div>
  <% end %>
