<!DOCTYPE html>
<html>
  <head>
    <title>Dziennik-online</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
      <% if user_signed_in? %>
        <div class="navbar navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container">
              <a class="brand" href="/">Dziennik-online</a>
              <ul class="nav">
                <%= navigation %>
              </ul>
              <ul class="nav pull-right">
                <%= account_dropdown_navigation %>
              </ul>
            </div>
          </div>
        </div>
      <% end %>
      <div class="container">
        <%= yield :head %>
        <div class="content">
          <% if flash[:error] %>
            <div class="alert alert-error fade in">
              <a class="close" data-dismiss="alert" href="#">x</a>
              <%= flash[:error] %>
            </div>
          <% end %>
          <% if flash[:alert] %>
            <div class="alert fade in">
              <a class="close" data-dismiss="alert" href="#">x</a>
              <h4 class='alert-heading'><%= flash[:alert] %></h4>
            </div>
          <% end %>
          <% if flash[:notice] %>
            <div class="alert alert-success fade in">
              <a class="close" data-dismiss="alert" href="#">x</a>
              <%= flash[:notice] %>
            </div>
          <% end %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
